<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analysis Type Assessment</title>
    <link rel="stylesheet" href="./styles/styles.css">

    <!-- font awesome icons -->

    <script src="https://kit.fontawesome.com/84bf206d2c.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- add the header partial -->
    <%- include ('header.ejs') %>
        <main class="assessment-container">
            <div class="wrapper">
                <h1 class="assessment-title">Analysis Assessment</h1>
                <!-- post request data from assessment submission -->
                <form class="assessment-form" action="/submitAssessment" method="POST" id="assessmentForm">
                    <div class="question-container">
                        <!-- setting up pagination for all questions through classes, and buttons -->
                        <% for (let i=0; i < questions.length; i++) { %>
                            <!-- iterating through the questions so the right questions display and the right options display -->
                            <div class="question <%= i === 0 ? '' : 'hidden' %>">
                                <p>
                                    <%= questions[i].text %>
                                </p>
                                <% for (const option of questions[i].options) { %>
                                    <div class="input-container">
                                        <label>
                                            <input type="radio" , name="<%= questions[i]._id %>"
                                                value="<%= option.points %>">
                                            <%= option.text %>
                                        </label>
                                    </div>
                                    <% } %>
                            </div>
                            <% } %>
                    </div>
                    <div class="button-container">
                        <button class="general-button-styling" type="button" id="prevButton" disabled><i
                                class="fa-solid fa-arrow-left" style="color: #000000;"></i></button>
                        <button class="general-button-styling" type="button" id="nextButton"><i
                                class="fa-solid fa-arrow-right" style="color: #000000;"></i></button>
                        
                        <button class="general-button-styling" type="submit" id="submitButton"
                            class="hidden">Submit</button>
                    </div>
                    <!-- adding error messages for unwanted user interactions -->
                    <div class="error-message" id="questionError">Please select an option before moving to the next question.</div>
                    <div class="error-message" id="submissionError">Please answer all questions before submitting.</div>
                </form>
            </div>
        </main>
        <!-- adding footer partial -->
        <%- include ('footer.ejs') %>
            <script src="./scripts/assessmentScript.js"></script>
</body>

</html>